<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Feedbacksystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Feedbacksystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="/events">Events</a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="#"></a>
        </div>
    </div>
</nav>

<body class="bg-light text-dark">
    <div class="container">
        <h1>Questions
            <button type="button" class="btn btn-dark" th:onclick="|window.location.href='@{/newQuestion(eventId=${eventId})}'|">New</button>
        </h1>
        <div class="row col-md-7 table-responsive">
            <table id="questionsTable" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Question</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="question, rowStat: ${questions}" th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${question.id}">1</td>
                        <td th:text="${question.questionName}">Jack</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>