<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Feedbacksystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Feedbacksystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="/events">Events</a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="#"></a>
        </div>
    </div>
</nav>

<body class="bg-light text-dark">
    <br>
    <form action="#" th:action="@{/newQuestion}" th:object="${questionTM}" method="post">
        <div class="form-group container">
            <input class="invisible" th:field="*{eventId}"/><br/>
            <label for="question">New question:</label>
            <div class="input-group">
                <input class="form-control" type="text" th:field="*{questionName}" th:errorclass="fieldError" placeholder="Enter question"/>
                <div class="input-group-append">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Answer type...</option>
                        <option th:value="true" th:field="*{answerFreeText}">Freetext</option>
                        <option th:value="true" th:field="*{answerSmyles}">Smileys</option>
                        <!-- <option th:each="answerType : ${answerTypes}" th:value="${answerType}"></option> -->

                    </select>
                </div>
            </div>
        </div>
        <div class="form-group container">
            <p><input type="submit" value="Save" class="btn btn-dark"/></p>
        </div>
    </form>
</body>
</html>